<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Farm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
 <span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">

     <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary">HR Management</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#!/addUser">Add Employee</a></li>
        <li role="menuitem"><a href="#!/users">List Employees</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

  </div>

    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
    
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<!-- <input type="button" ng-click="vm.startSpin()" value="Start spinner" />
  <input type="button" ng-click="vm.stopSpin()" value="Stop spinner" /> -->
<footer class="container-fluid text-center">
  <p> Farming is the base of the society, revolutionise it to bring a revolution in society  -- Unknown</p>
</footer>

</body>
</html>


